@inherits LayoutComponentBase

<PageTitle>NPO</PageTitle>

<div class="page">

    <main>
@*        <div class="top-row px-4">
            <img src="video-camera-icon.png" type="image/x-icon" />
            <h4>Security cameras Utrecht</h4>


        </div>
        source:
        <a href="https://data.overheid.nl/data/dataset/camera-s">https://data.overheid.nl/data/dataset/camera-s</a>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
